<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="conStringFamily" connectionString="Server=AGD1\TEST;DataBase=MSDH_FamilyPlanning;Persist Security Info=True;UID=FamilyPlanning_User;Password=John3:15" providerName="System.Data.SqlClient"/>
    <add name="conString2" connectionString="Server=AGD1\TEST;DataBase=MSDH_Forms;Persist Security Info=True;UID=MiForms_User;Password=ru!6WecHuve+" providerName="System.Data.SqlClient"/>
    <add name="conString35" connectionString="Server=InventorySystem.mssql.somee.com;DataBase=InventorySystem;Persist Security Info=True;UID=linglu626;Password=linglu626" providerName="System.Data.SqlClient"/>
    <add name="conString" connectionString="Server=ad01\prod;Database=MSDH_Forms;User ID=MiForms_User;Password=ru!6WecHuve+;"/>
    <add name="BS" connectionString="Server=AGD1\TEST;DataBase=MSDH_Forms;Persist Security Info=True;UID=MiForms_User;Password=ru!6WecHuve+" providerName="System.Data.SqlClient"/>
    <add name="conStringT" connectionString="Server=AGD1\TEST;DataBase=MSDH_Forms;Persist Security Info=True;UID=MiForms_User;Password=ru!6WecHuve+" providerName="System.Data.SqlClient"/>
    <add name="conString1" connectionString="Server=AGD1\TEST;DataBase=MSDH_Forms;Persist Security Info=True;UID=MiForms_User;Password=ru!6WecHuve+" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Server=ad21\TEST;Database=WasteWater;User ID=ww_usr;Password=wwusr789;"/>
    <add name="conString3" connectionString="Server=ad21\TEST;DataBase=MSDH_Forms;Persist Security Info=True;UID=MiForms_User;Password=ru!6WecHuve+" providerName="System.Data.SqlClient"/>
    <add name="conStringC" connectionString="Password=office;Persist Security Info=True;User ID=sa;Initial Catalog=HairBraiders;Data Source=AD99\Health03;User ID=HairBraiders_usr;Password=spu7PEPa"/>
    <add name="conStringWW" connectionString="Data Source=ad99\Health03;Initial Catalog=WasteWater;Persist Security Info=True;User ID=ww_usr;Password=wwusr789" providerName="System.Data.SqlClient"/>
    <add name="conStringTS" connectionString="Server=ad01\prod;Database=TimeStudy;User ID=TimeStudy_User;Password=t!m3study;"/>
    <add name="conStringInvP" connectionString="Server=ad01\prod;Database=MSDH_Inventory;User ID=Inventory_User;Password=iV3nt0Ry#;"/>
    <add name="conStringInv" connectionString="Server=AGD1\TEST;Database=MSDH_Inventory;Timeout=15000; User ID=Inventory_User;Password=hEyeC7@S;"/>
    <add name="conStringLeaveP" connectionString="Server=ad01\prod;Database=MSDH_Leave;User ID=MSDHLeave_User;Password=M$dhL3@ve;"/>
    <add name="conStringLeaveT" connectionString="Server=AGD1\TEST;Database=MSDH_Leave;User ID=MSDHLeave_User;Password=M$dhL3@ve;"/>
    <add name="conStringFPP" connectionString="Server=AGD1\TEST;DataBase=MSDH_FamilyPlanning;Persist Security Info=True;User ID=FamilyPlanning_User;Password=P66qustef$;"/>
    <add name="conStringFP" connectionString="Server=AGD1\TEST;DataBase=MSDH_FamilyPlanning;Persist Security Info=True;User ID=FamilyPlanning_User;Password=John3:15;"/>
    <add name="conStringMC" connectionString="Server=AGD1\TEST;Database=MSDH_COMMON;User ID=Health_User;Password=P66qustef$;"/>
    <add name="MSDH_FormsConnectionString" connectionString="Data Source=AGD1\TEST;Initial Catalog=MSDH_Forms;Persist Security Info=True;User ID=MiForms_User;Password=ru!6WecHuve+" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings file="C:\secrets\AppSettingsSecrets.config\config.txt">
    <add key="DomainName" value="LDAP://adc4.doh.miss.gov"/>
    <add key="serverpath" value="miss.gov/DC=doh,DC=miss,DC=gov"/>
    <add key="encryptPW" value="TrAvEl!1!9@6*3"/>
    <add key="encryptLPW" value="L!e@AvE!1*96#3"/>
    <add key="InternalOrder" value="3000021377"/>
    <!-- ** SANDBOX  <add key="Person" value="F:\Nick\IRAR_project\AJAX\Person.xml" />-->
    <!-- ** SANDBOX ALL  <add key="Person" value="F:\Nick\IRAR_ALL\AJAX\Person.xml" />-->
    <!-- ** PROD  <add key="Person" value="C:\Users\nick.creel\Desktop\VS Applications\IRAR_Complete\AJAX\Person.xml" />-->
    <!-- ** PROD MSDH1T <add key="Person" value="C:\Users\nick.creel\Desktop\VS Applications\MSDH1T\AJAX\Person.xml" />-->
    <add key="Person" value="D:\TFS_Projects\IRAR_Server\IRAR\AJAX\Person.xml"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="HelpDesk" value="HelpDesk@msdh.ms.gov"/>
    <add key="DefaultYear" value="2019"/>
    <add key="WeekYear" value="2019,2020"/>
    <add key="Leave" value="1"/>
    <add key="PropertyOfficer" value="Dawn.Watson@msdh.ms.gov"/>
    <add key="TestPath" value="\\D0073697\Users\tonye.lasseter\TS\Videos\"/>
    <add key="SBPath" value="\\sandbox.doh.miss.gov\HelpVideos\"/>
    <add key="ProdPath" value="\\aw05.doh.miss.gov\HelpVideos\"/>
    <add key="CRPath" value="https://apps.msdh.ms.gov/reports/wwinside/"/>
    <add key="PayTestPath" value="D:\TFS_Projects\IRAR_Server\IRAR\PDF_Files\"/>
    <add key="PaySBPath" value="F:\Nick\secrets\PDF_Files\"/>
    <add key="PayProdPath" value="C:\Users\nick.creel\Desktop\VS Applications\IRAR_Complete\PDF_Files\"/>
    <add key="PayProd1TPath" value="C:\Users\nick.creel\Desktop\VS Applications\MSDH1T\PDF_Files\"/>
    <add key="PayReqTestPath" value="C:\Users\"/>
    <add key="PayReqSBPath" value="F:\Nick\"/>
    <add key="PayReqProdPath" value="C:\Users\nick.creel\"/>
    <add key="BackDoor" value="tonye.lasseter,nick.creel,alexander.wilkes"/>
  </appSettings>
</configuration>